.cstm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid blue;
    background-color: beige;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    font-weight: bolder;
}
.bton{
    display: flex;
 
}